<!-- Initial screen that shows all the ads -->
{% extends "base_menu.html" %}
{% block content %}
  <!-- Creates a search box floting to the right that sends a get request to the same page with the search query as a parameter -->
  <div style="float:right">
    <!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
    <form>
      <input type="text"
             placeholder="Search.."
             name="search"
             {% if search %}value="{{ search }}"{% endif %}>
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
      <a href="{% url 'ads:all' %}"><i class="fa fa-undo"></i></a>
    </form>
  </div>
  <h1>Ads App Landing Page</h1>
  <br />
  <h2>All Ads</h2>
  <p>
    {% if ad_list %}
      <ul>
        {% for ad in ad_list %}
          <li>
            <a href="{% url 'ads:ad_detail' ad.id %}">{{ ad.title }}</a>
            <!-- Check if the current user is the owner of this ad -->
            {% if ad.owner == user %}
              (
              <!-- If user is owner, show an Edit link that goes to the ad_update view with this ad's ID -->
              <a href="{% url 'ads:ad_update' ad.id %}">Edit</a> |
              <!-- Also show a Delete link that goes to the ad_delete view with this ad's ID -->
              <a href="{% url 'ads:ad_delete' ad.id %}">Delete</a>
              )
            {% endif %}
            <!-- If the user is authenticated, show the favorite/unfavorite stars -->
            <!-- The two hrefs are stacked on top of each other, with one showing and one hidden -->
            <!-- The JavaScript function favPost() is called when the user clicks on one of the hrefs -->
            <!-- The function takes two arguments: the URL to call, and the ad ID -->
            {% if user.is_authenticated %}
              <!-- Two hrefs with two stacked icons each - one showing and one hidden -->
              <!-- The first href -->
              <!-- Displayed if the ad is an owner's favorite. If clicked, it will call the ad_unfavorite view -->
              <!-- As usual, urls are defined in urls.py and views are defined in views.py -->
              <a href="#"
                 onclick="favPost('{% url 'ads:ad_unfavorite' ad.id %}', {{ ad.id }} );return false;"
                 {% if ad.id not in favorites %}style="display: none;"{% endif %}
                 id="favorite_star_{{ ad.id }}">
                <span class="fa-stack" style="vertical-align: middle;">
                  <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
                  <i class="fa fa-star-o fa-stack-1x"></i>
                </span>
              </a>
              <!-- the second href -->
              <a href="#"
                 onclick="favPost('{% url 'ads:ad_favorite' ad.id %}', {{ ad.id }} );return false;"
                 {% if ad.id in favorites %}style="display: none;"{% endif %}
                 id="unfavorite_star_{{ ad.id }}">
                <span class="fa-stack" style="vertical-align: middle;">
                  <i class="fa fa-star fa-stack-1x" style="display: none; color: orange;"></i>
                  <i class="fa fa-star-o fa-stack-1x"></i>
                </span>
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no ads in the database.</p>
    {% endif %}
  </p>
</br>
<p>
  <!-- Link to add a new ad. Goes to the ad_create view defined in urls.py -->
  <a href="{% url 'ads:ad_create' %}">Add an Ad</a> &nbsp; &nbsp;   |  &nbsp; &nbsp;
  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}?next={% url 'ads:all' %}">Logout</a>
  {% else %}
     <!-- Link to login. Takes us to the login view in django.contrib.auth with the parameter -->
      <!-- 'next' set to the URL to return to after a successful login -->
    <a href="{% url 'login' %}?next={% url 'ads:all' %}">Login</a>
  {% endif %}
</p>
</br>
</br>
</br>
<!-- Back to home -->
<p>
  <a href="{% url 'home:home' %}">Back to Main Page</a>
</p>
<script>
  // Function to toggle the display of favorite/unfavorite stars
  // Takes the ID of the star element as a parameter
  function toggleInlineDisplay(star_id) {
    // Get the star element by its ID
    var elem = document.getElementById(star_id);

    // If the element is currently displayed inline
    if (window.getComputedStyle(elem).display == "inline") {
      // Hide it and store that it was previously inline
      elem.style.display = 'none';
      elem.dataset.previousDisplay = 'inline';
    } 
    // If the element is currently displayed as a block
    else if (window.getComputedStyle(elem).display == "block") {
      // Hide it and store that it was previously block
      elem.style.display = 'none';
      elem.dataset.previousDisplay = 'block';
    }
    // If the element is currently hidden
    else {
      // Log the previous display value for debugging
      console.log('prev', elem.dataset.previousDisplay);
      // If we stored a previous display value
      if (typeof elem.dataset.previousDisplay == 'string') {
        // Restore that previous display value
        elem.style.display = elem.dataset.previousDisplay
      } else {
        // Default to inline display if no previous value
        elem.style.display = 'inline';
      }
    }
  }

  // Function that handles favoriting/unfavoriting posts
  // Takes a URL (favorite or unfavorite endpoint) and the ad's ID as parameters
  function favPost(url, ad_id) {
    // Log the URL being called to the console for debugging
    console.log('POSTing to', url);
    
    // Make a POST request to the provided URL with an empty JSON body
    fetch(url, { method: 'POST', body: '{}' })
      .then((response) => {
        // Log when the request is complete
        console.log(url, 'finished');
        
        // Toggle the visibility of both the favorite and unfavorite stars
        // This switches which star icon is visible to the user
        toggleInlineDisplay("unfavorite_star_" + ad_id);
        toggleInlineDisplay("favorite_star_" + ad_id);
      })
      .catch((error) => {
        // If the request fails, show an alert with the error message
        alert('Url failed with ' + error + ' ' + url);
      });
  }
</script>
{% endblock %}
