{% extends "base_bootstrap.html" %}
{% block content %}
    <h1>Welcome to {{ settings.APP_NAME }}</h1>
    <h2>A few examples of Django applications:</h2>
    <ul>
        <li>
            <p>
                <!-- The URL tag is used to generate a URL for a given view -->
                <!-- The URL tag takes the name of the view as an argument -->
                <!-- The name of the view is defined in the urls.py file of the app -->
                <!-- There you have: path('', views.AdListView.as_view(), name='all') -->
                <a href="{% url 'ads:all' %}">Ads</a>
            </p>
        </li>
        <li>
            <p>
                <a href="{% url 'autos:all' %}">Autos</a>
            </p>
        </li>
        <li>
            <p>
                <a href="{% url 'cats:all' %}">Cats</a>
            </p>
        </li>
        <li>
            <p>
                <a href="{% url 'polls:index' %}">Polls</a>
            </p>
        </li>
    </ul>
{% endblock content %}
